<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.huajiance.springboot.mapper.MenuMapper">

	<resultMap id="TMenu" type="com.huajiance.springboot.entity.TMenu">
		<result column="menuid" jdbcType="VARCHAR" property="menuid" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="code" jdbcType="VARCHAR" property="code" />
		<result column="pid" jdbcType="VARCHAR" property="pid" />
		<result column="cseq" jdbcType="VARCHAR" property="cseq" />
		<result column="url" jdbcType="VARCHAR" property="url" />
		<result column="isopen" jdbcType="BOOLEAN" property="isopen" />
		<result column="enabled" jdbcType="BOOLEAN" property="enabled" />
		<result column="createTime" jdbcType="DATE" property="createTime" />
		<result column="creator" jdbcType="VARCHAR" property="creator" />
		<result column="updateTime" jdbcType="DATE" property="updateTime" />
		<result column="updator" jdbcType="VARCHAR" property="updator" />
	</resultMap>

	<select id="getUserMenus" resultMap="TMenu">
		select * from DEV_MENU t where t.enabled = '1' and t.menuid != '0'
	</select>

	<select id="getUserMenusByRoleId" resultType="TMenu">
		select * from (
			  select distinct dm.* from dev_menu dm
				join dev_auth da on dm.name=da.name or dm.code=da.code
				join dev_role_auth dra on da.authid=dra.authid
			  where dra.roleid=#{roleId} and dm.enabled='1'
	  	) t
		order by t.cseq asc
	</select>

</mapper>